<div class="row" *ngIf="place">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail">
      <!-- <img [src]="place.upload" alt="..."> -->
      <div class="caption">
        <h3>{{ place.name }}</h3>
        <p>{{ place.description }}</p>
        <p>{{ place.address }}</p>
        <p>{{ place.city }}</p>
        <p>{{ place.trustLevel }}</p>
        <p>
          <!-- <a [routerLink]="['/new-review']" class="btn btn-primary" role="button">Escribir opinión</a> -->
          <button class="btn btn-primary" (click)="showSelected = !showSelected">Escribir opinión</button>

        </p>
      </div>
    </div>
  </div>

  <div *ngIf="showSelected">
    <app-new-review [place]="place"></app-new-review>
    <br>
  </div>

  <!-- REVIEWS -->
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="container review" *ngFor="let review of place?.reviews">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Valoración: {{ review.rating }}</strong>
            <span class="text-muted">(commented 5 days ago)</span>
          </div>
          <div class="panel-body">
            {{ review.text }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- REVIEWS -->

<a [routerLink]="['/places']"> Volver </a>


<!-- <div *ngIf="place"> -->

<!-- 
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]=place.latitude [longitude]=place.longitude></agm-marker>
      </agm-map> -->
