<form>

  <h2> Crear usuario </h2>
  <label> Username </label>
  <input type="text" name="username" [(ngModel)]="formInfo.username" #myUsername="ngModel" required minlength="6" />
  <br>
  <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
    <p class="error" [hidden]="!myUsername.errors.minlength">
      Username must be at least 6 characters long.
    </p>
  </div>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password" #myPassword="ngModel" />
  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
    <p class="error" [hidden]="!myPassword.errors.required">
      Password is required
    </p>
  </div>
  <br>
  <br>
  <button (click)="signup()" class="btn btn-info"> <a [routerLink]="['']">Entrar</a>  </button>
</form>
